error.ejs -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h1 class="h4 mb-0"><%= title %></h1>
        </div>
        <div class="card-body">
          <p class="lead"><%= message %></p>
          
          <% if (error.status) { %>
            <p>Status: <%= error.status %></p>
          <% } %>
          
          <% if (error.stack) { %>
            <pre class="bg-light p-3 mt-3"><%= error.stack %></pre>
          <% } %>
          
          <div class="mt-4">
            <a href="/" class="btn btn-primary">Return to Home</a>
            <a href="/login" class="btn btn-outline-primary ms-2">Try Login Again</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>